#heading{
    align-items: center;
    text-align: center;
    background-color: silver;
    color: black;
    padding: 10px;
    letter-spacing: 5px;
    font-weight: 500;
}

.container{
    margin-top: 20px;
}

.top-container{
    background-color: rgb(28, 195, 36);
}

.form-group{
    padding: 10px;
}
